# Node dependencies
node_modules/

# Local testing files
index.html
user/

# Source maps
*.map

# For files that shouldn't be updated on this commit
*.no

# Logs
*.log

# Mac OS system files
.DS_Store

# Windows system files
Thumbs.db